# MirrorMaker documentation:
# https://kafka.apache.org/documentation/#basic_ops_mirror_maker
# https://cwiki.apache.org/confluence/display/KAFKA/System+Tools#SystemTools-MirrorMaker
# https://medium.com/real-time-streaming/apache-kafka-mirror-maker-1400efeca94d
# Consumer configs: https://kafka.apache.org/documentation/#consumerconfigs
# Producer configs: https://kafka.apache.org/documentation/#producerconfigs

# PS: MirrorMaker SHOULD be executed on the MIRRORTARGET side

###
### Generic
###

# Security protocol (Valid values are: PLAINTEXT, SSL, SASL_PLAINTEXT, SASL_SSL)
security.protocol={{ kafka_generic_security_protocol }}

# Broker list (destination target)
bootstrap.servers={{ mirrormaker_target_bootstrap_servers }}

# Compression (valid values are none, gzip, snappy, or lz4)
compression.type={{ mirrormaker_target_compression_type }}

# For additional traceability each producer should use this identifier
client.id={{ mirrormaker_target_client_id }}

key.serializer=org.apache.kafka.serialization.StringSerializer
value.serializer=org.apache.kafka.serialization.ByteArraySerializer


###
### No data loss
###

# Mirror maker will only send one request to a broker at any given point.
max.in.flight.requests.per.connection={{ mirrormaker_target_max_in_flight_requests_per_connection }}

# Setting a value greater than zero will cause the client to resend any request that fails with a potentially transient error.
# retries={{ mirrormaker_target_retries }}

# When writing to Kafka, producers can choose whether they wait for the message to be acknowledged by 0,1 or all (-1) replicas.
acks={{ mirrormaker_target_acks }}

# Buffer data when broker indicates that it can receive no more data
# block.on.buffer.full={{ mirrormaker_target_block_on_buffer_full }}


###
### Exactly once (idempotence)
###

# When set to 'true', the producer will ensure that exactly one copy of each message is written in the stream.
# If 'false', producer retries due to broker failures, etc., may write duplicates of the retried message in the stream.
# Note that enabling idempotence requires
#   max.in.flight.requests.per.connection to be less than or equal to 5,
#   retries to be greater than 0 and
#   acks must be 'all'.
# If these values are not explicitly set by the user, suitable values will be chosen.
# If incompatible values are set, a ConfigException will be thrown.
enable.idempotence={{ mirrormaker_target_enable_idempotence }}


###
### Other
###

#auto.create.topics.enable=true
#metadata.broker.list=localhost:9092 (list of brokers used for bootstrapping knowledge about the rest of the cluster)
#bootstrap.servers=xxx.xxx.xxx.xxx.amazonaws.com:9092
#producer.type=sync
#compression.codec=none
#serializer.class=kafka.serializer.DefaultEncoder
