[Unit]
Description=Confluent Kafka schema registry
After=syslog.target network.target zookeeper.target

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535

#Type=simple
# idle: similar to simple, the actual execution of the service binary is delayed
#       until all jobs are finished, which avoids mixing the status output with shell output of services.
RemainAfterExit=yes
User=root
Group=root
ExecStart=/etc/init.d/kafka-control start-schema-registry
ExecStop=/etc/init.d/kafka-control stop-schema-registry

[Install]
WantedBy=multi-user.target kafka.target
