[Unit]
Description=Confluent Zookeeper
After=syslog.target network.target

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535

#Type=simple
# idle: similar to simple, the actual execution of the service binary is delayed
#       until all jobs are finished, which avoids mixing the status output with shell output of services.
RemainAfterExit=yes
User=root
Group=root
ExecStart=/etc/init.d/kafka-control start-zookeeper
ExecStop=/etc/init.d/kafka-control stop-zookeeper

[Install]
WantedBy=multi-user.target kafka.target schema-registry.target kafka-rest.target
